node_modules
.env
lambda-sentiment/.aws-sam
lambda-sentiment/dist/handlers/google-nl-creds-api.json
lambda-sentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/log.txt
lambda-sentiment/.aws-sam/build/processTweetSentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/.aws-sam/build/processTweetSentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/src/handlers/google-nl-creds-api.json
lambda-sentiment/.aws-sam/build/processTweetSentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/dist/*
lambda-sentiment/dist/handlers/*.js
lambda-sentiment/.aws-sam/build/processTweetSentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/.aws-sam/build/processTweetSentiment/dist/handlers/process-tweet-sentiment.js
lambda-sentiment/dist/handlers/process-tweet-sentiment.js
server/dist/*.js
server/dist/decoders.js
server/dist/decoders.js
server/dist/index.js
server/dist/stream.js
server/dist/types.js
server/dist/controller/rules.js
server/dist/dynamodb/db.js
server/dist/dynamodb/tableParams.js
server/dist/Error/Error.js
server/dist/middleware/errorHandler.js
server/dist/middleware/validators.js
server/dist/routes/api.js
server/dist/stream/decodeJSONstream.js
server/dist/stream/processStream.js
server/dist/stream/reconnect.js
server/dist/stream/StreamService.js
server/dist/stream/tweetStreamTransforms.js
server/dist/stream/twitterStreamAPI.js
server/dist/utils/axiosUtils.js
server/dist/utils/sendErrorResponse.js
